# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Caches & Local Databases
.pytest_cache/
*.db
*.sqlite
*.sqlite3
drawing_comments.db

# Environments
.venv/
venv/
env/

# Packaging
dist/
build/
*.egg-info/

# IDEs
.vscode/
.idea/
